	body {
		background-image:url("./img/fondo.jpg");
		background-repeat: no-repeat;
          	background-position: center center;
                background-attachment: fixed;
              }
     		 .col{
		    	  color:white;
		      }
	.col { 
		font-family:Arial, sans-serif;
		text-align:justify;
		}
		.col {
   			 padding: 50px 30px 50px 80px;
		}

