	body {
		background-image:url("./img/fondo.jpg");
		background-repeat: no-repeat;
          	background-position: center center;
                background-attachment: fixed;
              }
     		 .col{
		    	  color:white;
		      }
	.col { 
		font-family:Arial, sans-serif;
		text-align:fixed;
		font-family: monoespace;

		}
		.col {
   			 padding: 10px 0px 10px 10px;
		}
			
		.pie {
    				position: absolute;
    				bottom: 8px;
   			        right: 16px;
				}
				

				.boton {
 				 padding: 15px 25px;
 				 font-size: 24px;
			         text-align: center;
 			         cursor: pointer;
 				 outline: none;
  				 color: #fff;
 				 background-color: #555555;
 				 border: none;
			         border-radius: 15px;
			       
					}
				.boton:hover {background-color: #666666}

				.boton:active {
 				 background-color: #000000;
			         box-shadow: 0 5px #666;
			        transform: translateY(4px);
						}


